/*Reset and Base styles*/

:root {
    --color-title-paragraph: rgb(51, 51, 51);
    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    font-family: 'Proxima Nova', sans-serif;
    font-size: 1.6rem;
    min-height: 100vh;
}


/* HEADER */
.header {
    background-color: rgb(17, 17, 17);
    padding: 1rem 1rem 0.5rem 1rem;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-container {
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  gap: 4rem;
}

.header-logo-img {
  height: 80px;
  width: 80px;
  object-fit: contain;
  border-radius: 50%;
}

.header-nav {
  flex-grow: 1;
}

.header__nav-list {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 5rem;
}

.header__nav-link {
  text-decoration: none;
  color: rgb(240, 240, 240);
  transition: color 0.3s ease, transform 0.3s ease;
  display: inline-block;
}

.header__nav-link:hover,
.header__nav-link:focus {
    color: rgb(136, 136, 136);
    transform: translateY(-3px);
  }

.header-socials {
    display: flex;
    align-items: center;
    gap: 3rem;
  }

  .header-socials svg {
    fill: rgb(240, 240, 240);
    transition: fill 0.3s ease, transform 0.3s ease;
  }

  .header-socials a:hover svg,
  .header-socials a:focus svg {
    fill: rgb(136, 136, 136);
    transform: translateY(-3px);
  }

/* MAIN */

.main {
  flex-grow: 1;
  position: relative;
  box-shadow: 0px 3px 3px -1px rgb(221, 221, 221);
  background-color: rgb(255, 255, 255);
}

.main-intro {
  border-bottom: 1px solid rgb(240, 240, 240); 
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.intro {
    display: flex;
    flex-direction: column;
}

.fade-in-element{
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in-element.visible {
  opacity: 1;
  transform: translateX(0);
}

.intro-tag {
  color: rgb(51, 51, 51);
  font-weight: 700;
  font-size: 8.2rem;
  letter-spacing: -0.4rem;
}

.intro-subtitle {
  color:rgb(117, 117, 117) ;
  font-weight: 200;
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
}

.intro-phrase {
  font-size: 1.8rem;
  font-weight: 300;
  color: rgb(51, 51, 51);
  line-height: 1.7;
  margin-bottom: 2.4rem;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.skills img {
    width: 50px;
    height: auto;
    transition: transform 0.3s ease;
  }

  .skills img:hover,
.skills img:focus {
  transform: scale(1.2);
}


/*ABOUT ME PAGE*/
.facts {
  background-color: rgb(250, 250, 250); 
  border-bottom: 1px solid rgb(240, 240, 240);   
}
.facts-elements {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.random-facts{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.random-facts h3 {
  color:rgb(51, 51, 51) ;
  font-weight: 200;
  font-size: 3.6rem; 
  margin-bottom: 2.4rem;
}

.facts-list{
  list-style: none;
}

.facts-list-items {
  font-size: 1.8rem;
  font-weight: 300;
  color: rgb(51, 51, 51);
  line-height: 2;
}

.story h3 {
  font-size: 4.8rem;
  font-weight: 300;
  color: rgb(51, 51, 51);
  margin-bottom: 2.4rem;
}

.story h4 {
  font-size: 3.6rem;
  font-weight: 200;
  color: rgb(51, 51, 51);
  margin-bottom: 1.6rem;
}

.story p{
  font-size: 1.8rem;
  font-weight: 300;
  color: rgb(51, 51, 51);
  line-height: 1.7;
  margin-bottom: 4rem;
}

.story strong {
  font-weight: 700;
  line-height: 1.7;
  color: rgb(51, 51, 51);
}


/*CONTACT PAGE*/
.social-disc{
    display: flex;
    gap: 2rem;
    list-style: none;
    justify-content: center;
    align-items: center;
  }

  .social-disc li {
    display:flex;
  }

  .social-disc a{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
  }

  .icon-disc {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: currentColor;
    border-radius: 50%;
    transition: all 0.3s ease;
    overflow: hidden;
  }

  .social-disc a:hover,
  .social-disc a:focus {
    opacity: 0.8;
  }

  .icon-disc svg {
    width: 30px;
    height: 30px;
    fill: rgb(255, 255, 255);
    display: block;
  }
 
.linkedin {
  color: rgb(18, 107, 196); 
}

.instagram {
  color: rgb(255, 30, 88); 
}

/*FORM CONTACT PAGE*/
#contact {
  background-color: rgb(250, 250, 250);
}

.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    gap: 1rem;
  }
  
  .contact-form label {
    color: rgb(51, 51, 51);
  }
  
  .contact-form input,
  .contact-form textarea {
    border: 1px solid rgb(112, 112, 112);
    border-radius: 8px;
    padding: 0.75rem;
    color: rgb(51, 51, 51);
    font-family: 'Proxima Nova', sans-serif;  /* Cohérence avec le reste du site */
  }
  
  .contact-form input:focus,
  .contact-form textarea:focus {
    outline: 2px solid rgb(51, 51, 51);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);  /* Effet subtil au focus */
  }
  
  .contact-form button {
    align-self:flex-end;
    background-color: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 500;
  }
  
  .contact-form button:hover,
  .contact-form button:focus {
    background-color: rgb(112, 112, 112);
  }

/* FOOTER */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    background: linear-gradient(45deg,rgb(245, 245, 245),rgb(230, 230, 230));
    text-align: center;
    padding: 2rem;
    color: rgb(51, 51, 51);
}

.footer__copyright{
  color: rgb(51, 51, 51);
  text-decoration: none;
}

.footer__copyright:hover {
    color: rgb(0, 0, 0);
    transition: color 0.3s ease;
    font-weight: 400;
}

.footer-socials {
 display: flex;
  gap: 5rem;
  padding-top: 1rem;
}

.footer-socials svg {
  fill:rgb(51, 51, 51);
  transition: fill 0.3s ease, transform 0.3s ease;
}

.footer-socials a:hover svg,
.footer-socials a:focus svg {
  fill: rgb(0, 0, 0);
  transform: translateY(-3px);
}